.root {
  --transition-duration: 0.3s;
  --transition-delay: 0.15s;
}

/* horizontal */

.horizontal {
  transition: opacity var(--transition-duration) var(--transition-delay);
}

.horizontal line {
  stroke-linecap: round;
  stroke: currentColor;
  transition: stroke-dashoffset var(--transition-duration)
      var(--transition-delay),
    stroke-width var(--transition-duration);
}

.isOpen .horizontal {
  transition-delay: 0s;
}

.isOpen .horizontal line {
  transition-delay: 0s;
}

/* cross */

.cross {
  transition: opacity var(--transition-duration);
}

.cross line {
  stroke-linecap: round;
  stroke: currentColor;
  transition: stroke-dashoffset var(--transition-duration),
    stroke-width var(--transition-duration);
}

.isOpen .cross {
  transition-delay: var(--transition-delay);
}

.isOpen .cross line {
  transition: stroke-dashoffset var(--transition-duration)
      var(--transition-delay),
    stroke-width var(--transition-duration);
}
